{%- assign link_count = 0 -%}
{%- for note in site.notes -%}
        {%- if note.url != page.url -%}
            {%- if note.content contains page.slug -%}
                {%- assign link_count = link_count | plus:1 -%}
            {%- endif -%}
    {%- endif -%}
{%- endfor -%}
{%- if link_count > 0 -%}
<h1 style="margin-bottom: 1.5em; margin-top: 8rem;">Backlinks</h1>
<div class="backlinks-container">
        {%- for note in site.notes -%}
        {%- if note.url != page.url -%}
            {%- if note.content contains page.slug -%}
            <div class="backlink">
              <div class="backlink-title"><a href="{{note.url}}" aria-label="{{note.title}}">{{ note.title }}</a></div>
              <a href="{{note.url}}" aria-label="{{note.title}}">
                {{ note.content | split: page.slug | last | replace_first: ". ", ".~~~" | split: "~~~" | first | replace_first: '.” ','.”~~~' | split: '~~~' | first | replace_first: '</p>', '~~~' | split: '~~~' | first | strip_html | replace_first: '">','…<u>' | replace_first: ' ','</u> ' }}
            </a></div>
            {%- endif -%}
        {%- endif -%}
        {%- endfor -%}
</div>
{%- endif -%}
