.backlinks-container {
margin-bottom: 2rem;
font-size: 80%;
}
.backlink > a:link, .backlink > a:visited {
border: 1px solid white;
padding: 2rem 1rem 1.5rem 1rem;
display: inline-block;
background: none;
color: white;
text-shadow: none;
}
.backlink {
  display: inline-block;
  margin-bottom: 1.5rem;
  &:hover > .backlink-title {
    background-color: #ddd;
  }
  &:hover > a {
    border-color: #bbb;
  }
}
.backlink-title {
background-color: white;
color: $backgroundColor;
width: fit-content;
left: 0.4em;
position: relative;
bottom: -1em;
padding: 0 4px 0 4px;
text-align: center;
max-width: 90%;
margin-top: -1.5rem;
& > a {
  background: none;
  color: $backgroundColor;
  text-shadow: none;
}
}
