.dc {
  float: left;
}
.goudy {
  font-family: 'goudy';
  font-size: 5.65em;
  line-height: 0.8;
  padding: 0 0.065em 0 0;
  margin-left: 0.01em;
}
.woodcut {
  font-family: 'woodcut';
  font-size: 4.75em;
  line-height: 0.94254;
  padding: 0 0.055em 0 0;
  margin-left: -0.05em;
}
.cheshire {
  font-family: 'cheshire';
  margin-bottom: -0.3em;
  line-height: 1.12;
  padding: 0 0.055em 0 0;
  font-size: 5.25em;
}
.exotica {
  font-family: 'exotica';
  font-size: 5.3em;
  line-height: 1.12;
  padding: 0 0.1em 0 0;
  margin-bottom: -0.3em;
}
.floral {
  font-family: 'floral';
  font-size: 6.63em;
  line-height: 0.9;
  padding: 0 0.08em 0 0;
  margin-bottom: -0.3em;
  margin-left: -.01em;
}
