/*
.goudy {
  font-family: 'goudy';
  font-size: 5.09em;
  line-height: 0.98;
  padding: 0 0.065em 0 0;
  margin-left: 0.01em;
}
.woodcut {
  font-family: 'woodcut';
  font-size: 4.2em;
  line-height: 1.18;
  padding: 0 0.055em 0 0;
  margin-left: -0.05em;
}
 */
.dc {
  font-family: 'cheshire';
  margin-bottom: -0.3em;
  line-height: 1.18;
  padding: 0 0.055em 0 0;
  font-size: 5.1em;
  float: left;
}
/*
.exotica {
  font-family: 'exotica';
  font-size: 5.16em;
  line-height: 1.16;
  padding: 0 0.1em 0 0;
  margin-bottom: -0.3em;
}
.floral {
  font-family: 'floral';
  font-size: 6.1em;
  line-height: 1.024;
  padding: 0 0.08em 0 0;
  margin-bottom: -0.3em;
  margin-left: -.01em;
}
*/
