.dc {
  float: left;
}
.goudyini {
  font-family: 'GoudyIni';
  font-size: 7.1rem;
  line-height: 0.8;
  padding: 0 0.065em 0 0;
  margin-left: 0.01em;
}
.typographerwoodcut {
  font-family: 'TypographerWoodcut';
  font-size: 5.9rem;
  line-height: 0.94254;
  padding: 0 0.055em 0 0;
  margin-left: -0.05em;
}
.cheshireinitials {
  font-family: 'CheshireInitials';
  margin-bottom: -0.3em;
  line-height: 1.12;
  padding: 0 0.055em 0 0;
  font-size: 6.55rem;
}
.exotica {
  font-family: 'Exotica';
  font-size: 5.3em;
  line-height: 1.12;
  padding: 0 0.1em 0 0;
  margin-bottom: -0.3em;
}
