 h1 {
  font-size: 120%;
  font-weight: 700;
  & + .gallerydate {
    margin-bottom: 1.8rem;
  }
}
h2 {
  font-family: "NotoSerif-SC";
  font-size: 1.75rem;
  line-height: 1;
  margin-top: 4.5rem;
  border-bottom: 1px dotted white;
}
h2 .anchorjs-link {
  color: #bbb;
  background: 0;
  float: right;
}
h3 .anchorjs-link, h4 .anchorjs-link {
  color: #bbb;
  background: 0;
}
h3 {
  font-family: "NotoSerif-SC";
  font-size: 125%;
  margin-bottom: -0.75em;
}
h4 {
  font-weight: 700;
  margin-bottom: -1em;
}
.titleblock {
  display: flex;
  margin: 3rem 0 3rem 0;
}
.posttitle {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  border-right: 1px dotted white;
  padding-right: 0.8rem;
  padding-left: 2.25rem;
}
.postdates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 0.8rem;
}
@media (max-width: 537px) {
.titleblock {
  display: inline;
}
.posttitle {
  width: 100%;
  display: inline-block;
  border: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 0.25rem;
}
.postdates {
  font-size: 90%;
  display: grid;
  justify-content: center;
  grid-column-gap: 1em;
  grid-template-columns: auto auto;
  width: 100%;
  padding: 0;
  align-items: center;
}
.postdates > .subtitle {
  text-align: right;
}
}
