h1 {
  font-size: 110%;
  font-weight: 700;
  & + .gallerydate {
    margin-bottom: 1.8rem;
  }
}
h2 {
  font-size: 107.5%;
  font-weight: 700;
  margin-top: 4.5rem;
}
h3 {
  font-weight: 700;
}
.postedmodified {
  font-size: 80%;
  color: #ddd;
}
.titleblock {
  display: flex;
  margin: 3rem 0 3rem 0;
}
.titledesc {
  text-align: right;
  display: flex;
  align-items: right;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  border-right: 1px dotted white;
  padding-right: 0.8rem;
  padding-left: 2.25rem;
}
.titledates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 0.8rem;
}
@media (max-width: 684px) {
  .titledesc {
    padding-left: 0;
  }
}
