body { background: #1c1b22; color: #ffffff; font-family: "Libre Baskerville", Georgia, serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-size: 1.125em; width: 80vw; max-width: 31em; margin: auto; word-wrap: break-word; text-rendering: optimizeLegibility; font-kerning: normal; hyphens: auto; }

p { line-height: 1.51875; margin: 1.125em 0; }

@media (max-width: 31em) { body { background: #1c1b22; color: #ffffff; font-family: "Libre Baskerville", Georgia, serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-size: 5vw; width: 80vw; margin: auto; word-wrap: break-word; text-rendering: optimizeLegibility; font-kerning: normal; hyphens: auto; } }
a { text-decoration-color: transparent; }

.navlink:link, .navlink:visited { color: white; transition: color 0.15s, text-decoration-color 0.3s; }

.navlink:hover { color: #caf8b4; text-decoration: underline; }

.navlink:active { color: #95f16a; }

a:link { color: #a5f381; transition: color 0.15s, text-decoration-color 0.3s; }

a:visited { color: #8bb479; }

a:hover { color: #caf8b4; text-decoration: underline; }

a:active { color: #95f16a; }

h1, h2, h3, h4, h5, h6 { text-align: left; margin: 1em 0 1em 0; }

hr { color: #bbbbbd; border: none; border-top: 0.1em solid; border-bottom: 0.1em solid; margin: 0; }
