---
layout: default
description: julian jarjour's photo galleries
---
<div class="gallery">
  {% for gallery in page.galleries %}
  <div class="gallery-wrapper">
    <a href="{{ gallery['gallery'] }}" aria-label="{{gallery.name}}">
      <img
        class="gallery-best-image"
        alt="{{gallery.name}}"
        height="auto"
        width="100%"
        src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}"
      />
    </a>
    <div class="title-tag">
        <a href="{{ gallery['gallery'] }}" aria-label="{{gallery.name}}">[{{ gallery["images"] | size }}] {{ gallery["name"] | downcase }}</a>
      </div>
  </div>
  {% endfor %}
</div>
