---
layout: default
description: julian jarjour's photo galleries
---
<div class="epigraph">
  Remember that the most beautiful things in the world are the most useless; peacocks and lilies for instance.
  <footer><a class="epigraphcitation" target="_blank" href="https://www.gutenberg.org/files/30754/30754-h/30754-h.htm">John Ruskin, <em>The Stones of Venice</em></a></footer>
</div>
<p>Each thumbnail here is actually a gallery, so you can click on any of them to see more photos from the same date. I've even added little blurbs to each gallery. Have fun.</p>
<p>I shoot on a Canon EOS Rebel T2i and edit with darktable.</p>
<div class="gallery">
  {% for gallery in page.galleries %}
  <div class="gallery-wrapper">
    <a href="{{ gallery['gallery'] }}" aria-label="{{gallery.name}}">
      <img
        class="gallery-best-image"
        alt="{{gallery.name}}"
        height="auto"
        width="100%"
        src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}"
      />
    </a>
    <div class="title-tag">
        <a href="{{ gallery['gallery'] }}" aria-label="{{gallery.name}}">[{{ gallery["images"] | size }}] {{ gallery["name"] }}</a>
      </div>
  </div>
  {% endfor %}
</div>
