<!doctype html>
<html lang='{{ site.lang | default: "en-US" }}'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Londrina+Shadow&display=swap"
    />
    <link
      rel="stylesheet"
      media="print"
      onload="this.onload=null;this.removeAttribute('media');"
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Londrina+Shadow&display=swap"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Londrina+Shadow&display=swap"
      />
    </noscript>
    <link
      rel="stylesheet"
      href='{{ "/assets/css/photopost.css" | relative_url }}'
    />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?" />
  </head>
  <body>
    {% include header.html %} {{ content }}
  </body>
</html>
